.navbar{
  display: flex;
  list-style-type: none;
  background-color: darkblue;
}
.navbar li{
  margin: 20px;
  background-color: white;
  padding: 15px;
  
}
a{
  text-decoration: none;
}
li:hover{
  background-color: rgb(134, 134, 128);
}
.footer{
  margin-top: 210px;
  text-align: center;
  background-color: rgb(112, 112, 229);
  color: white;
  padding: 10px;
}
img{
margin-left: 50px;
}
.card-1{
  display: inline-block;
  margin: 20px;
  width: 300px;
  height: 400px;
  box-shadow:  10px 5px 7px #d1d1d1;
  padding: 10px;
}